.title {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 3.5vh;
	color: lightgray;
	text-align: left;
}

a {
	color: inherit;
}

.gallerytitle {
	font-family: 'Montserrat', sans-serif;
	color: lightgray;
	text-align: center;
	font-size: 2.5vw; 
	text-decoration: underline;
	font-weight: bolder;
		
	background-color: gray; 
	mix-blend-mode: exclusion;
}

.gallerytitlecurrent {
	font-family: 'Montserrat', sans-serif;
	color: lightgray;
	text-align: center;
	font-size: 5.5vw; 
	text-decoration: underline;
	font-weight: bolder;
	
	background-color: white; 
	mix-blend-mode: exclusion;
}

.title2 {
	font-family: 'Playfair display', serif;
	font-weight: 100;
	font-size: 4vh;
	color: lightgray;
	text-align: center;
	margin-left: 0vw;
}

.paragraph {
	font-family: 'Montserrat', sans-serif;
	color: gray;
	text-align: left;
	margin: 10px;
		}

.marker {
	font-family: 'Permanent Marker';
	font-size: 4.5vw;
	color: lightgray;
	text-align: center;
}

.card {
	width: 75%;
	max-width: 600px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	opacity: 0.875;
}
.whitebox {
	background-color: white;
	opacity: 0.875;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	width: 100%; /* Full width */
	display: inline-block;
	margin: auto; /* Some padding */  
	border: 2px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
	
	font-family: 'Montserrat', sans-serif;
		color: black;
		font-size: 18px;
		padding: 5px;
		
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
	background-color: white;
	color: white;
	padding: 12px 12px;
	border-radius: 6px;
	cursor: pointer;
	display: block;
	margin: auto;
	font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		color: black;
		font-size: 16px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
	mix-blend-mode: exclusion;
}

/* Add a background color and some padding around the form */
.container {
	display: block;
	margin: auto;
	width: 80%;
	height: 80%;
	max-width: 720px;
	min-height: 360px;
	max-height: 450px;
	border-radius: 2px;
	background-color: #f2f2f2;
	padding: 30px;
}