*
{
	margin: ; /*Exterior (of Background Image) border*/
	margin-top: ;
	margin-left: ;
	padding: ; /*Interior Padding of Assets (within exterior border)*/
	scroll-behavior: smooth;
}

.background /*Background Image/Color*/
{
background-color: #17211d;
background-attachment: fixed;
z-index: -2;
}

/*(this is beig used as the gradient between the navbar and the images on the mobile page)*/
.mobilegradient { 
	position: fixed;
	width: 100vw;
	height: 5vh;
	z-index: 0;
	margin-top: 75vh;
	
	background: linear-gradient(180deg, rgba(17,21,11,0), #17211d);
	mix-blend-mode: darken;
	}
	
ul {
	position: fixed;
	display: inline;
	margin-left: 2vw;
	list-style-type: none;
	margin-top: 77.5vh;
	padding: 1vh;
	width: 100vw;
	height: 22.5vh;
	z-index: 1;
	background-color: #17211d;	
/*	padding: 0.5vw;*/
/*	border-style: double;*/
/*	border-color: white;*/
/*	border-radius: 10px;*/
}
	li a {
		display: inline-block;
		list-style-type: none;
		display: table;
			margin: 1.5vw;
		float: left;
		text-align: center;
		font-family: 'Permanent Marker';
		font-size: 4.5vw;
		color:  #17211d;
		padding: 0vw;
		padding-top: 0;
		text-decoration: none;
		background-color: white; 
		mix-blend-mode: exclusion;
	}
	li a.active {
	/*	background-color: lightgray;*/
	/*	color: #17211d;*/
		text-decoration: underline;
		font-weight: bold;
	}
	li a:hover:not(.active) {
	/*	background-color: #556168;*/
	/*	color: white;*/
		text-decoration: underline;
		font-weight: bold;
	}

.signature {
	display: block;
	position: relative;
	object-fit: scale-down;
	width: auto;
	height: 10vh;
	z-index: 1;
	margin: auto;
	margin-bottom: 0px;}

.gallery {
		margin: 5vw;
		overflow-x: none;
		overflow-y: hidden;
		max-height: 80vh;
		width: 88vw;
		z-index: -1;
		transition: .4s;
		}

		
	.gallery:hover {
		z-index: 1;
	    transform: scale(1.05);
	}
}
